
@{
    ViewData["Title"] = "CheckYourInbox";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

B<div class="main-agileinfo">
    <div class="agileits-top">
    <p>Check Your InBOx</p>
</div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}