@model ResetPasswordVM
@{
    ViewData["Title"] = "ResetPassword";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<form action="SendEmail" method="post">
	<div asp-validation-summary="All"></div>
	
	<input class="text" asp-for="@Model.Password" placeholder="Password" required="">
	<span asp-validation-for="Password" class="text-danger"></span>
	<br />
	<input class="text" asp-for="@Model.ConfirmPassword" placeholder="ConfirmPassword" required="">
	<span asp-validation-for="ConfirmPassword" class="text-danger"></span>
	<br />
	
	<input type="submit" value="ChangePassword">
</form>
 
@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}
